/data/
.venv/
__pycache__/
*.pyc
wandb/
*.pt
*.pth
*.tar.gz
*.zip
ATML-PA1.pdf
.DS_Store

task1/results/cue_conflicts/
*.pth
__pycache__/
*.pyc
.DS_Store
# System & Bytecode
.DS_Store
__pycache__/
*.pyc

# Datasets
data/
*/data/
*.tar.gz

# Checkpoints & Cached Tensors
*.pth
checkpoints/
*/checkpoints/
*.pt

# LaTeX Build Intermediates
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
